<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}" defer></script>
    <title>Homepage</title>
</head>
<body>
    <div class="container">
        <h1 class="text-danger">Homepage</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${photoList}" th:object="${photo}">
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td><img class="h-25 w-25" th:src="*{url}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>