<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/resources :: headResources('Photo List')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: topNavbar('photos')}"></nav>
    <div class="container">
        <div th:replace="fragments/components :: message"></div>
        <h1 class="text-danger">Homepage</h1>
        <div class="my-3">
            <a th:href="@{/photos/create}" class="btn btn-secondary">Add new photo</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="photo : ${photoList}" th:object="${photo}">
                    <td th:text="*{title}"></td>
                    <td th:text="*{description}"></td>
                    <td><img class="h-25 w-25" th:src="*{url}"></td>
                    <td>
                        <a class="btn btn-secondary" th:href="@{/photos/show/{id}(id=*{id})}" title="details"><i
                                class="fa-solid fa-book"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>