<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/resources :: headResources('Foto List')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: topNavbar('fotos')}"></nav>
    <div class="container">
        <h1 class="text-danger">Homepage</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="photo : ${photoList}" th:object="${photo}">
                    <td th:text="*{title}"></td>
                    <td th:text="*{description}"></td>
                    <td><img class="h-25 w-25" th:src="*{url}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>